/* Colors 
turquoise #31A2AC
red #AF1C1C
grayish white #F0EFF0
oldwood #2f2f28
*/

/* Fonts */
/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;*/
body {
  background-color: #f0eff0;
  font-family: 'Roboto', sans-serif;
}

.welcome {
  background-image: url(img/welcome.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0eff0;
}
/* .welcome-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #f0eff0;
  text-shadow: 0.5px 0.5px #2f2f28;
  line-height: 1;
  text-align: center;
  margin-bottom: auto;
  border-top: 3px solid #2f2f28;
  padding-top: 0.5em;
  border-bottom: 3px solid #2f2f28;
} */
/* span {
  display: block;
  color: #af1c1c;
  font-size: 5em;
  text-shadow: none;
  font-family: 'Oswald', sans-serif;
} */
.welcome-img {
  height: 75%;
  /* max-height: 35em; */
  margin-right: 1em;
  opacity: 0.75;
}
.line {
  height: 15%;
  border: 4px solid #af1c1c;
  opacity: 0.75;
}
@media (min-width: 50em) {
  .welcome-title {
    font-size: 3vw;
  }
}
.about-title {
  display: block;
  color: #af1c1c;
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}

.about-me {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.about-img {
  max-height: 35em;
  margin-right: 1em;
}

.about-title {
  margin-bottom: 0.25em;
}
.about-subtitle {
  margin: 0.5em 0;
  font-weight: 900;
}
@supports (display: grid) {
  .about-me {
    display: grid;
    grid-template-columns:
      [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr)
      [img-end] 2fr [port-end];
  }
  .about-img {
    grid-column: port / img;
    grid-row: 1 / 2;
  }
  .about-title {
    grid-column: name / port;
    grid-row: 1 / 2;
    align-self: end;
  }
  .about-subtitle,
  .about-text {
    grid-column: port / port;
  }
}
/* Intro Section */
.intro {
  display: flex;
  background-color: #2f2f28;
  border: 1px solid #f0eff0;
  color: #f0eff0;
}
.intro-title {
  font-weight: 900;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
  border-right: 1px solid #f0eff0;
}
.intro-body {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* certifications Section */
.certifications-title {
  display: block;
  color: #af1c1c;
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
}
.certifications a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.certifications .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.certifications .bst {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.certifications .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.certifications .bstA {
  display: block;
  color: #af1c1c;
  /* background: #af1c1c; */
  padding: 2px 4px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
}
.bst::after {
  content: '';
  display: block;
  height: 1px;
  background: #2f2f28;
  margin: 1em auto;
  width: 100%;
}
/* Footer Section */
footer {
  margin-top: 2em;
  background: #2f2f28;
  padding: 1em 0;
  text-align: center;
  color: #f8f5f2;
  max-width: 100%;
}
.footer-title::after {
  content: '';
  display: block;
  height: 1px;
  background: #f0eff0;
  margin: 1em auto;
  width: 25%;
}

.social-icon {
  max-width: 60px;
  max-height: 60px;
  padding: 1em;
}

p.copyright::before {
  content: '';
  display: block;
  height: 1px;
  background: #f0eff0;
  margin: 1em auto;
  width: 25%;
}
/* MODAL */
/* Popup Box */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 8888; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f0eff0;
  margin: 10vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #2f2f28;
  width: 60%; /* Could be more or less, depending on screen size */
}
.modal-img {
  width: 100%;
  border: 1px solid #2f2f28;
}
@media (min-width: 1366px) {
  .modal-content {
    background-color: #f0eff0;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #2f2f28;
    width: 30%; /* Could be more or less, depending on screen size */
  }
}

/* The Close Button */
.close {
  color: #2f2f28;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button.button {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #2f2f28 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
}

button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
