footer {
  margin-top: 2em;
  background: #2f2f28;
  padding: 1em 0;
  text-align: center;
  color: #f8f5f2;
  max-width: 100%;
}
.footer-title::after {
  content: '';
  display: block;
  height: 1px;
  background: #f0eff0;
  margin: 1em auto;
  width: 25%;
}

.social-icon {
  max-width: 60px;
  max-height: 60px;
  padding: 1em;
}

p.copyright::before {
  content: '';
  display: block;
  height: 1px;
  background: #f0eff0;
  margin: 1em auto;
  width: 25%;
}
