#intro {
  display: flex;
  background-color: #2f2f28;
  border: 1px solid #f0eff0;
  color: #f0eff0;

  h2 {
    font-family: 'Oswald', sans-serif;
  }
}
.intro-title {
  font-weight: 900;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
  border-right: 1px solid #f0eff0;
}
.intro-body {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
